/* 
    Created on : 19-Feb-2015, 13:07:19
    Author     : David Yell <neon1024@gmail.com>
*/
$font: Arial, Verdana, sans-serif;

@import "flip";

html {
    background-color: #333;
    font-family: $font;
}

p, li, a {
    font-family: $font;
}
p.center {
    text-align: center;
}
p.rounds {
    width: 100px;
    margin: 15px auto;
    padding: 8px;
    text-align: center;
    background-color: #ccc;
    border: 1px solid darken(#ccc, 15%);
    border-radius: 6px;
    font-size: 28px;
}

.clearfix {
    clear: both;
}

#container {
    width: 960px;
    margin: 0 auto;
    padding: 10px;
    background-color: #efefef;
}

header h1 {
    padding: 10px 15px;
    background-color: #0088cc;
    color: #fff;
    margin: 0 0 10px;
    font: bold 38px Arial, sans-serif;
    text-transform: uppercase;
}

div.instructions {
    padding: 10px;
    margin: 10px;
    background-color: #c1c1c1;
    border: 1px solid #ccc;
    border-radius: 7px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.4);
    font-size: 18px;
}

.btn {
    margin: 10px auto;
    padding: 10px 15px;
    text-align: center;
    background-color: #87cc08;
    border: 1px solid darken(#87cc08, 15%);
    border-radius: 5px;
    text-decoration: none;
    color: darken(#87cc08, 30%);
    font-weight: bold;
    &.go-button {
        float: left;
        margin-left: 400px;
        background-color: darken(#00a1ff, 10%);
        border: 1px solid darken(#00a1ff, 25%);
        color: #fff;
    }
    &.draw {
        background-color: #e5a22d;
        border: 1px solid darken(#e5a22d, 20%);
    }
}

p.buttons {
    text-align: center;
}

.play-space {
    width: 475px;
    min-height: 390px;
    &.one {
        float: left;
    }
    &.two {
        float: right;
    }
    h2 {
        &.team {
            margin: 0 0 20px 0;
            font: bold 32px Arial, Verdana, sans-serif;
            color: #fff;
            text-align: center;
            &.red {
                background-color: red;
            }
            &.blue {
                background-color: blue;
            }
        }   
    }
}

.card {
    width: 200px;
    height: 300px - 8px;
    display: block;
    margin: 0 auto 10px;
    border: 8px solid #fff;
    border-radius: 6px;
    background-color: #ffcb30;
    box-shadow: 0 0 4px rgba(0,0,0,0.6);
    h2 {
        height: 100px;
        margin: 0;
        padding: 40px 0 0 0;
        text-align: center;
        background-color: #ccc;
    }
    .description {
        height: 141px;
        margin: -10px 5px 5px 5px;
        background-color: #fff;
        border-radius: 5px;
        font-size: 13px;
        position: relative;
        p {
            padding: 0 10px 10px 10px
        }
        p.type {
            background-color: #ccc;
            padding: 10px 10px 10px 42px;
            &.positive {
                background: #ccc url(../img/thumb_up-64.png) 2px 2px no-repeat;
                background-size: 32px 32px;
            }
            &.negative {
                background: #ccc url(../img/thumb_down-64.png) 2px 2px no-repeat;
                background-size: 32px 32px;
            }
            &.neutral {
                background: #ccc url(../img/smile-64.png) 2px 2px no-repeat;
                background-size: 32px 32px;
            }
            &.exchange {
                background: #ccc url(../img/Refresh.png) 3px 4px no-repeat;
                background-size: 30px 30px;
            }
        }
        span.rarity {
            width: 32px;
            height: 32px;
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            &.rarity-2 {
                background: url(../img/bullet_white.png) no-repeat;
            }
            &.rarity-3 {
                background: url(../img/bullet_yellow.png) no-repeat;
            }
        }
    }
    &.negative {
        background-color: #f48b8b;
        h2 {
            background-color: #f48b8b;
        }
    }
    &.positive {
        background-color: #c1f28a;
        h2 {
            background-color: #c1f28a;
        }
    }
    &.neutral {
        background-color: #ffcb30;
        h2 {
            background-color: #ffcb30;
        }
    }
}